.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1; /* Позволяет основному контенту занимать оставшееся пространство */
}

body {
    font-family: "segoe print", serif;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    background-image: url('back.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение на весь фон */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Не повторяем изображение */
}

header {
    background: #FFF8DC;
    color: #D2B48C;
    padding: 10px 0;
}

footer {
    text-align: left;
    padding: 10px; 
}

p {
    color: #A0522D;
}

nav ul {
    display: flex; /* Используем Flexbox для выравнивания */
    justify-content: flex-start; /* Выравниваем по левому краю */
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: fadeIn 2s ease-out;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

/* Изменение цвета ссылок */
a {
    color: #BC8F8F;
}

/* Изменение цвета при наведении */
a:hover {
    color: #D2691E;
}


h1{
    text-align: left;
    animation: fadeIn 2s ease-out;
}

h2{
    text-align: left;
    color: #A0522D;
}

/* Анимация */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


table {
    width: 60%;
    margin: 70px auto;
    border-collapse: collapse;
    background-color: #FFF8DC;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #A0522D;
}

th {
    background-color: #FFEBCD;
    text-align: right;
}

td {
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #FFF8DC;
    padding: 20px;
    border: 1px solid #D2B48C;
}

.grid-item {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    color: #A0522D;
    border: 1px solid #D2B48C;
    background-color: #FFEBCD;
}

/* Основные стили для кнопок */
button {
    background-color: #BC8F8F; /* Цвет фона кнопки */
    color: #FFF; /* Цвет текста на кнопке */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #D2691E; 
    transform: scale(1.1); 
}

button:active {
    background-color: #A0522D; 
}

button:focus {
    outline: none; 
    animation: pulse 1s infinite;
}

/* Анимация кнопки */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}